<div class="modal-header">
  <h3 class="modal-title">Wallet Top Up</h3>
</div>
<div class="modal-body">
  <form name="form.topup">
    <div class="row">
      <div class="col-md-12 form-group">
        <label class="col-sm-4 control-label"></label>
        <div class="col-sm-8">
          <p style="font-size: 12px; color: gray">Top up wallet at 2.0% (+ 200 NGN flat charge for transactions above 2,500 NGN) capped at 2,500 NGN</p>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <label class="col-sm-4 control-label">From Card <span class="required">*</span></label>
        <div class="col-sm-8">
          <select name="card" class="form-control" ng-model="topup.card"
            ng-options="c as (' (' + c.accountNumber + ')') for c in cards | orderBy:'accountNumber' track by c.id"
            required>
            <option value="">- Select Card -</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <label for="pin" class="col-sm-4 control-label">Pin <span class="required">*</span></label>
        <div class="col-sm-8">
          <input name="pin" type="password" data-ng-minlength=4 data-ng-maxlength=4 placeholder="Enter card 4 digit PIN"
          ng-model-options="{allowInvalid: false}" pattern-validator="\d{4}" required ng-model="topup.cardPin" class="form-control">
        </div>
      </div>
      <div class="col-md-12 form-group">
        <label for="amount" class="col-sm-4 control-label">Amount <span class="required">*</span></label>
        <div class="col-sm-8">
          <input name="amount" type="number" data-min="0" placeholder="Amount" required ng-model="topup.amount" class="form-control">
        </div>
      </div>
    </div>

  </form>
  <div ng-show="topup.isBusy" class="panel-loading">
    <div class="panel-loader-circular"></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" ng-disabled="topup.isBusy" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" ng-disabled="form.topup.$invalid || topup.isBusy" ng-click="ok()">Top Up</button>
</div>
