@using Frapid.WebsiteBuilder.Models;
@using Frapid.Configuration;

<header id="header">
    <div class="logo">
        <a class="logo" href="/">
            <img src="/my/template/images/freebe-logo.png" />
        </a>
    </div>
    <a href="#menu"><span>Menu</span></a>
</header>

<nav id="menu">
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li><a href="/paylink/login">Log In</a></li>
		<li><a href="/paylink/signup">Register Now</a></li>
		<li><a href="/dashboard">ERP Demo</a></li>
		<li><a href="#services">Product & Services</a></li>
		<li><a href="#aboutus">About Us</a></li>
		<li><a href="#footer">Contact Us</a></li>
	</ul>
</nav>