<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ThemeName" value="freebe" />
    <add key="Author" value="Freebe" />
    <add key="AuthorUrl" value="http://freebe.com.ng" />
    <add key="AuthorEmail" value="info@free.be" />
    <add key="ConvertedBy" value="N/A" />
    <add key="ReleasedOn" value="1 May 2017" />
    <add key="Version" value="1.0" />
    <add key="Category" value="Corporate &amp; Business" />
    <add key="Responsive" value="Yes" />
    <add key="Framework" value="Semantic UI" />
    <add key="Tags" value="business, corporate" />
    <add key="HomepageLayout" value="Layout-Home.cshtml" />
    <add key="DefaultLayout" value="Layout.cshtml" />
	<add key="PaylinkLayout" value="Layout-Paylink.cshtml" />
  </appSettings>
</configuration>
