<div id="page-heading">
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li class="active">Bank Accounts</li>
  </ol>

<div class="container-fluid" ng-controller="BankAccountController">
  <div class="row">
    <div class="col-md-12">
      <panel panel-class="panel-midnightblue" data-heading="Registered Bank Accounts">
        <panel-controls>
          <panel-control-collapse></panel-control-collapse>
        </panel-controls>
        <div uib-alert  ng-class="'alert-' + (alert.type || 'warning')">
          <p>These bank accounts can be credited instantly from anyone using Freebe.</p>
          <h5>
              Our PCI compliant tokenization security protocol ensures that your bank information are kept secure. We do not
              share or send this information with any third party.
          </h5>
        </div>
        <div id="ScrudFactoryForm"></div>
        <div id="ScrudFactoryView"></div>
      </panel>
    </div>
  </div>
</div>
<!-- container-fluid -->

<script>
  var scrudFactory = new Object();
  scrudFactory.title = "Bank Accounts"; //window.translate("EmployeeTypes");
  scrudFactory.viewAPI = "/api/v1.0/views/paylink/bank_account_scrud_view";
  scrudFactory.viewTableName = "paylink.bank_account_scrud_view";
  scrudFactory.formAPI = "/api/v1.0/forms/paylink/subaccounts";
  scrudFactory.formTableName = "paylink.subaccounts";
  scrudFactory.allowDelete = true;
  scrudFactory.allowEdit = false;
  scrudFactory.excludedColumns = ["SubaccountId", "SubaccountCode", "CustomerId", "AuditUserId", "AuditTs", "Deleted"]; //Do not show these columns on grid
  scrudFactory.live = "AccountName";
  scrudFactory.card = {
    description: "AccountName"
  };
  scrudFactory.removeKanban = true;
  scrudFactory.removeFilter = true;
  scrudFactory.removeImport = true;

  scrudFactory.customActions = [
    {
      title: "View Transactions",
      href: "/paylink/transactions?ToSubaccountId={Id}",
      icon: "list icon",
      position: "before"
    }
  ];

  scrudFactory.readonlyColumns = ["SubaccountCode", "IsVerified"];
  scrudFactory.hiddenColumns = ["SubaccountId", "SubaccountCode", "CustomerId", "Type", "DailyMaxDeposit", "DailyMaxWithdrawal", "Balance", "BankName",
    "Description", "PercentageCharge", "SettlementSchedule", "Token", "CardNumber", "CardExpiryYear", "CardExpiryMonth", "CardCvv"
  ];
  scrudFactory.disabledOnEdit = ["AccountNumber"];
  scrudFactory.layout = [{
    tab: "bank-info",
    fields: [
      ["SubaccountId", "SubaccountCode"],
      ["BankCode", ""],
      ["AccountNumber", "AccountName"],
      ["Pin", "ConfirmPin"],
      ["Active", "IsVerified"]
    ]
  }];
  scrudFactory.tabs = [{
    sort: 0,
    id: "bank-info",
    name: "Bank Information",
    active: true
  }];
  scrudFactory.keys = [{
    property: "BankCode",
    url: '/api/v1.0/paylink/subaccounts/get-banks',
    data: null,
    valueField: "code",
    textField: "name"
  }]

  setTimeout(function () {
    $.get('/my/template/views/scrud-factory/view.html', function(view) {
      $.get('/my/template/views/scrud-factory/form.html', function(form) {
        $("#ScrudFactoryView").html(view);
        $("#ScrudFactoryForm").html(form);

        $.cachedScript("/assets/js/scrudfactory-view.js");
        $.cachedScript("/assets/js/scrudfactory-form.js");
      });
    });
  }, 800);
</script>

<script>
 $(document).on("formready", function() {
   setup();
  });

  $(document).on("onsaving", function(e) {
    var $form = $('.ui.form');
    $form.form('validate form');
    return $form.form('is valid');
  });

  function initializeFields() {
    $("#active").val("yes");
    $('label[for="pin"]').html('Authorization Password');
    $('label[for="confirm_pin"]').html('Confirm Authorization Password');

    $("#account_name").attr('readonly', true);
    $("#type").val('bank_account');
    $("#account_number").numeric({
      decimal: false,
      negative: false
    });

    $("#account_number").attr("maxlength", 10);
  }

  function setup() {
    initializeFields();

    var $form = $('.ui.form');

    $form.form({
      inline: true,
      on: 'change',
      onSuccess: function(event, fields) {
      },
      onFailure: function(formErrors, fields) {},
      onValid: function() {
        var fieldName = this.attr('id');
        if (!$('#account_name').val() &&
          ((fieldName == 'account_number' && $('#bank_code').val() > 0) ||
            (fieldName == 'bank_code' && $('#account_number').length == 10)
          )) {
          validateAccountNumber();
        }
      },
      onInvalid: function() {
        var fieldName = this.attr('id');
        if (fieldName == 'account_number' || fieldName == 'bank_code') {
          $("#account_name").val('');
        }
      },
      fields: {
        bank_code: {
          identifier: 'bank_code',
          rules: [{
            type: 'empty',
            prompt: 'Please select a bank'
          }]
        },
        account_number: {
          identifier: 'account_number',
          //depends    : 'bank_code',
          rules: [{
              type: 'empty',
              prompt: 'Please enter a valid account number'
            },
            {
              type: 'exactLength[10]',
              prompt: 'Account number must be exactly {ruleValue} digits long.'
            }
          ]
        },
        account_name: {
          identifier: 'account_name',
          depends: 'account_number',
          rules: [{
            type: 'empty',
            prompt: 'Acount name could not be verified'
          }]
        },
        pin: {
          identifier: 'pin',
          //depends: 'account_name',
          rules: [{
              type: 'empty',
              prompt: 'Please enter a authorization password for this bank account'
            },
            {
              type: 'integer',
              prompt: 'Authorization password must be numeric'
            },
            {
              type: 'exactLength[4]',
              prompt: 'Your authorization password must be exactly {ruleValue} characters'
            }
          ]
        },
        confirm_pin: {
          identifier: 'confirm_pin',
          depends: 'pin',
          rules: [{
            type: 'match[pin]',
            prompt: 'Authorization password does not match'
          }]
        }
      }
    });
  }

  function validateAccountNumber() {
    var accountNumber = $("#account_number").val();
    var bankCode = $('#bank_code').val();

    var $form = $('.ui.form');
    var formFactory = $(".ui.form.factory")
    var bigError = $(".big.error");

    formFactory.addClass("loading");
    bigError.removeClass("vpad16").html("");
    $("#account_name").parent('.field').removeClass('has-error');

    freebe.getAccountName(bankCode, accountNumber)
      .then(function(accountName) {
        $("#account_name").val(accountName);
        formFactory.removeClass("loading");
        //$form.form('validate form');
      })
      .catch(function(err) {
        formFactory.removeClass("loading");
        bigError.addClass("vpad16").text(err);
        $("#account_name").parent('.field').addClass('has-error');
      });
  }
</script>
