<div id="page-heading">
  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</div>


<div class="container-fluid" ng-controller="DashboardController">

  <div class="row">
    <div class="col-md-8 animated-content">
      <panel panel-class="panel-default no-padding" heading="Statistics">
        <panel-controls>
          <panel-control-collapse></panel-control-collapse>
          <panel-control-title></panel-control-title>
          <panel-control-colors></panel-control-colors>
          <panel-control-refresh type="circular" is-loading="loadingChartData" ng-click="refreshAction()"></panel-control-refresh>
          <div class="pull-right mr10 hidden-xs">
            <button class="btn btn-sm btn-default" style="text-transform: uppercase;"
              daterangepicker="drp_options" date-begin="drp_start" date-end="drp_end">
              <i class="glyphicon glyphicon-calendar"></i>
              <span style="margin-left: 5px">{{drp_start}} - {{drp_end}}</span>
              <b class="caret"></b>
            </button>
          </div>
        </panel-controls>
        <div class="p20">
          <div class="row">
            <div class="col-md-12">
              <canvas height="400" width="840" canvas-chart="statisticsChartData" data-type="'Line'"></canvas>
            </div>
          </div>
        </div>
      </panel>
    </div>
    <div class="col-md-4 animated-content">
      <div class="row">
        <div class="col-xs-6">
          <tile-simple data="{ title: 'Total Transfers', ui-sref: 'dashboard', text: '₦1,500,000', color: 'success'}"></tile-simple>
        </div>
        <div class="col-xs-6">
          <tile-simple data="{ title: 'Successful', ui-sref: 'dashboard', text: '₦1,450,000', color: 'midnightblue'}"></tile-simple>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <tile-simple data="{ title: 'Pending', ui-sref: 'dashboard', text: '₦50,000', color: 'indigo'}"></tile-simple>
        </div>
        <div class="col-xs-6">
          <tile-simple data="{ title: 'Failed Transfers', ui-sref: 'dashboard', text: '₦0.00', color: 'danger'}"></tile-simple>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <tile-simple data="{ title: 'Bill Payments', ui-sref: 'dashboard', text: '₦15,000', color: 'primary'}"></tile-simple>
        </div>
        <div class="col-xs-6">
          <a class="info-tiles tiles-green" ui-sref="wallet" data="item">
            <div class="tiles-heading">
              <div class="pull-left">Wallet Balance</div>
              <div class="pull-right"></div>
            </div>
            <div class="tiles-body">
              <div class="pull-left"><i class="fa fa-money"></i></div>
              <div class="pull-right">₦0.00</div>
              <div class="pull-right" ng-show="!item.text"></div>
            </div>
            
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <tile type="default" heading="Daily Withdrawal Limit">
            <div easypiechart class="easypiechart" data-percent="25" data-options="epDiskSpace"><span class="percent">25</span>
            </div>
          </tile>
        </div>
        <div class="col-md-6" ng-drop="true">
          <tile type="default" heading="Daily Deposit Limit" ng-drag="true">
            <div easypiechart class="easypiechart" data-percent="23" data-options="epBandwidth"><span class="percent">23</span>
            </div>
          </tile>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- container-fluid -->
