<div class="modal-header">
  <h3 class="modal-title">Change Account Password</h3>
</div>
<div class="modal-body">
  <form name="form.passwordChange">
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="password" class="col-sm-4 control-label">Old Password <span class="required">*</span></label>
        <div class="col-sm-8">
          <input name="password" type="password" placeholder="Enter old account password"
           required ng-model="passwordChange.oldPassword" class="form-control">
        </div>
      </div>
      <div class="col-md-12 form-group">
        <label for="password" class="col-sm-4 control-label">New Password <span class="required">*</span></label>
        <div class="col-sm-8">
          <input name="password" type="password" placeholder="Enter new password" pattern-validator="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$"
           required ng-model="passwordChange.newPassword" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <div class="input-group pull-right">
            <label>Password Strength</label>
            <password-strength ng-model="passwordChange.newPassword"></password-strength>
          </div>
          <div class="alert alert-error" ng-show="passwordChange.newPassword.$error.passwordPattern">
            Password should contain at least 6 characters with one uppercase, lowercase, and a number.
          </div>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <label for="password" class="col-sm-4 control-label">Confirm New Password <span class="required">*</span></label>
        <div class="col-sm-8">
          <input name="password" type="password" placeholder="Confirm new password"
          ng-model-options="{allowInvalid: false}"
          required ng-model="passwordChange.newPasswordConfirm" class="form-control"
          password-verify="passwordChange.newPassword">
        </div>
      </div>
    </div>
  </form>
  <div ng-show="passwordChange.isBusy" class="panel-loading">
    <div class="panel-loader-circular"></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" ng-disabled="passwordChange.isBusy" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" ng-disabled="form.passwordChange.$invalid || passwordChange.isBusy" ng-click="ok()">Change</button>
</div>
