<div class="verticalcenter" ng-controller="SignInController">
	<a href="/"><img src="/Static/images/freebe-logo-black.png" alt="Logo" class="brand" /></a>


	<alert ng-if="alert.type" type="{{alert.type}}" close="clearAlert()"><span ng-bind-html="alert.msg | safe_html"></span></alert>
	<div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Reset Password</h4>
			<form name="form.forgotPasswordForm" class="form-horizontal" style="margin-bottom: 0px !important;">
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" class="form-control" id="username" placeholder="Username" ng-model="forgotPasswordForm.UserName" required />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
							<input type="text" class="form-control" id="email" placeholder="Email" ng-model="forgotPasswordForm.Email" required />
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer">
			<div class="pull-left">
				<a href="/paylink/login" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
			</div>
			<div class="pull-right">
				<!--<a href="#/index" class="btn btn-success" ng-disabled="form.forgotPasswordForm.$invalid">Next <i class="fa fa-arrow-right"></i></a>-->
				<button class="btn btn-block btn-success" ng-click="resetPassword(forgotPasswordForm)" ng-disabled="form.forgotPasswordForm.$invalid">Log in</button>

			</div>
		</div>
	</div>
</div>
