<div class="verticalcenter">
	<a href="/"><img src="/Static/images/freebe-logo-black.png" alt="Logo" class="brand" /></a>

	<div uib-alert ng-if="alert.type"  ng-class="'alert-' + (alert.type || 'warning')" close="clearAlert()"><span ng-bind-html="alert.msg | safe_html"></span></div>
	<div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Reset Password</h4>
			<form name="form.forgotPasswordForm" class="form-horizontal" style="margin-bottom: 0px !important;">
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
							<input type="email" class="form-control" id="email" placeholder="Email" ng-model="forgotPasswordForm.Email" required />
						</div>
					</div>
					<input type="hidden" id="Token" ng-model="forgotPasswordForm.Token"/>
				</div>
			</form>
		</div>
		<div class="panel-footer">
			<div class="pull-left">
				<a href="/paylink/login" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
			</div>
			<div class="pull-right">
				<button class="btn btn-block btn-success" ng-click="resetPassword(forgotPasswordForm)"
					ng-disabled="form.forgotPasswordForm.$invalid">Reset</button>
			</div>
		</div>
	</div>
</div>
