<div class="verticalcenter" ng-controller="SignInController">
	<a href="/"><img src="/Static/images/freebe-logo-black.png" alt="Logo" class="brand" /></a>
	<alert ng-if="alert.type" type="{{alert.type}}" close="clearAlert()"><span ng-bind-html="alert.msg | safe_html"></span></alert>

	<form name="form.loginForm" ng-init="loginForm = { OfficeId: 1, Culture: 'en-US' }" class="form-horizontal" style="margin-bottom: 0px !important;">
		<div class="panel panel-primary">
			<div class="panel-body">
				<h4 class="text-center" style="margin-bottom: 25px;">Log in to get started or <a href="/paylink/signup">Sign Up</a></h4>
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="email" class="form-control" id="Email" placeholder="Email" ng-model="loginForm.Email" required />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" class="form-control" id="Password" placeholder="Password"
								ng-model="loginForm.Password" required />
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div class="pull-right"><label><input type="checkbox" checked="" ng-model="loginForm.RememberMe" /> Remember Me</label></div>
				</div>
			</div>
			<div class="panel-footer">
				<button class="btn btn-block btn-success" ng-click="login(loginForm)" ng-disabled="form.loginForm.$invalid">Log in</button>

				<a href="/paylink/forgotpassword" class="btn btn-link" style="text-align: right;display: block;">Forgot password?</a>
				<div class="signup-or-separator">
					<h6 class="text">or</h6>
					<hr>
				</div>
				<div class="text-center">
					<button class="btn btn-social btn-label btn-facebook" style="margin-bottom: 10px;" ng-click="authenticate('facebook')">
									<i class="fa fa-facebook"></i> Connect with Facebook
								</button>
					<button class="btn btn-social btn-label btn-google-plus" ng-click="authenticate('google')">
									<i class="fa fa-google"></i> Sign in with Google
								</button>
				</div>
			</div>
		</div>
		<div ng-show="isBusy" class="panel-loading" style="z-index: 10">
			<div class="panel-loader-circular"></div>
		</div>
	</form>

</div>
