<div>
  <div id="page-heading">
    <ol class="breadcrumb">
      <li><a ui-sref="dashboard">Dashboard</a></li>
      <li><a href="/paylink/transactions">Transactions</a></li>
      <li class="active">Details</li>
    </ol>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <panel ng-class="transaction.completed ? 'panel panel-green' : 'panel-red'">
          <div uib-alert type="{{transaction.completed ? 'success' : 'danger'}}" ng-class="'alert-' + (transaction.completed ? 'success' : 'danger')">
            <i ng-class="transaction.completed
              ? 'fa fa-3x fa-check-circle pull-left text-success'
              : 'fa fa-3x fa-times-circle pull-left text-danger'"></i>
            <h2><strong>{{transaction.completed ? "TRANSACTION COMPLETE" : "TRANSACTION FAILED"}}</strong></h2>
          </div>
          <!-- <h1 class="text-center"><strong>{{ transaction.amount + transaction.fees | currency : transaction.currency }}</strong></h1> -->
          <h1 class="text-center"><strong>{{ transaction.amount | currency : transaction.currency }}</strong></h1>
          <div class="col-md-12">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Amount</td>
                  <td>{{transaction.amount | currency : transaction.currency }}</td>
                </tr>
                <!--<tr ng-if="transaction.type == 'DEBIT'">-->
                <tr>
                  <td>Fee</td>
                  <td>{{transaction.fees | currency : transaction.currency }}</td>
                </tr>
                <tr>
                  <td>Time</td>
                  <td>{{transaction.transactionDate | date : 'dd-MMM-yyyy hh:mm:ss'}}</td>
                </tr>
                <tr ng-if="transaction.fromAccount">
                  <td>Payment Mode</td>
                  <td ng-switch="transaction.fromAccount.type">
                    <span ng-switch-when="wallet">Wallet</span>
                    <span ng-switch-when="card">Card {{transaction.fromAccount.accountNumber}}</span>
                  </td>
                </tr>
                <tr ng-if="transaction.toAccount && transaction.toAccount.accountName">
                  <td>Beneficiary</td>
                  <td>{{transaction.toAccount.accountName}}</td>
                </tr>
                <tr>
                  <td>Reference</td>
                  <td>{{transaction.reference}}</td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td>{{transaction.purpose}}</td>
                </tr>
                <tr>
                  <td>Remark</td>
                  <td>{{transaction.remark}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </panel>
      </div>
    </div>
  </div>
</div>
